@model CM.Models.Contact

@{
    ViewBag.Title = "Deletar";
}

<h2>Tem certeza que deseja deletar este contato?</h2>

<section class="contact-details">

    <p class="display-field">
        <span>Nome:</span> @Html.DisplayFor(model => model.Name)
    </p>
    <div class="display-field">
        <span>Endereço:</span> @Html.DisplayFor(model => model.Address)
    </div>
    <div class="display-field">
        <span>Cidade:</span> @Html.DisplayFor(model => model.City)
    </div>
    <div class="display-field">
        <span>Estado:</span> @Html.DisplayFor(model => model.State)
    </div>
    <div class="display-field">
        <span>CEP:</span> @Html.DisplayFor(model => model.Zip)
    </div>
    <div class="display-field">
        <span>Email:</span> <a href="mailto:@Html.DisplayFor(model => model.Email)">@Html.DisplayFor(model => model.Email)</a>
    </div>
    <div class="display-field">
        <span>Twitter:</span> <a href="http://twitter.com/@Html.DisplayFor(model => model.Twitter)" target="_blank">@@@Html.DisplayFor(model => model.Twitter)</a>
    </div>
</section>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p class="details-actions">
        <input type="submit" value="Sim, deletar este contato" class="button button-add"/>
        <br />
        @Html.ActionLink("Ops, voltar!", "Index", new { id = 1 }, new { @class = "button button-delete" })
    </p>
}
