@model IEnumerable<CM.Models.Contact>

@{
    ViewBag.Title = "Home";
}

<p>
    @Html.ActionLink("Adicionar Contato", "Create", new { id=1 }, new { @class = "button button-add" })
</p>

@foreach (var item in Model) {
<section class="contact">
    <h3 class="name">@Html.DisplayFor(modelItem => item.Name)</h3>
    <hr />
    
    <nav class="actions">
        <ul class="actions-list">
            <li>@Html.ActionLink("Editar", "Edit", new { id=item.ContactId }, new { @class = "button button-edit"})</li>
            <li>@Html.ActionLink("Detalhes", "Details", new { id=item.ContactId }, new { @class = "button button-details"})</li>
            <li>@Html.ActionLink("Deletar", "Delete", new { id=item.ContactId }, new { @class = "button button-delete"})</li>
        </ul>
    </nav>
</section>
}